.env
docker/.env
docker/.env.rag
.idea/
__pycache__/
*.pyc
*.pyo

# logs
*.log
*.err.log

# model folders
bert-base-chinese/
bge-large-zh/
bge-reranker-base/

# virtual env
venv/
.venv/
# database/cache
*.db
*.sqlite
*.sqlite3
